section {
  scroll-margin-top: 50px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  background: linear-gradient(135deg, #1f242d 60%, rgba(0, 128, 128, 0.3) 100%);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.nav-logo img {
  width: 100px;
  height: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background-color: rgb(0, 128, 128);
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-menu a.active {
  border-bottom: 2px solid rgb(0, 128, 128);
}

.nav-connect a {
  text-decoration: none;
  color: white;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu a:hover {
  color: rgb(0, 128, 128);
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    width: 30px;
    cursor: pointer;
    z-index: 1001;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    right: -350px;
    background: #1f242d;
    width: 280px;
    height: 100vh;
    z-index: 1000;
    padding: 40px 20px;
    gap: 30px;
    transition: right 0.3s ease-in-out;
  }

  .nav-menu.show {
    right: 0;
  }

  .nav-mob-close {
    display: block;
    align-self: flex-end;
    width: 30px;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .nav-menu li {
    font-size: 22px;
    padding: 10px 0;
    flex-direction: row;
    gap: 10px;
  }

  .nav-menu a.active {
    border-bottom: 2px solid rgb(0, 128, 128);
  }

  .nav-menu a:hover {
    color: rgb(0, 128, 128);
  }
}
